<ion-view view-title="RDOP Link- Dashboard">
  <ion-content>
     <div class="card ">
      <div class="item item-divider item-assertive" >
      My Tasks (300)
      </div>
      <div class="item" >
        <button class="button button-block button-outline button-assertive">
            Today (100)
        </button>
        <button class="button button-block button-outline button-assertive">
            This Week (100)
        </button>
       <!--  <button class="button button-block button-outline button-assertive">
            Next Week (100)
        </button>
       <button class="button button-block button-balanced">
            Next two Weeks (100)
        </button>
         <button class="button button-block button-balanced">
            Later (100)
        </button>-->
     </div> 
    </div>
     <div class="card">
      <div class="item item-divider item-balanced" >
      My Projects (121)
      </div>
      <div class="item" >
        <button class="button button-block button-outline button-balanced">
           Favorites (10)
        </button>
        <button class="button button-block button-outline button-balanced">
            Recents (5)
        </button>
      </div>
     </div> 
     <div class="card">
      <div class="item item-divider item-dark" >
      My Requests 
      </div>
      <div class="item" >
        <button class="button button-block button-outline button-dark">
           Study  Requests (5)
        </button>
        <button class="button button-block button-outline button-dark">
           Sample Requests  (12)
        </button>
      </div>
     </div> 
  </ion-content>
</ion-view>