<ion-view view-title="RDOP App">
  <ion-nav-buttons side="secondary">
      <div class="buttons">
        <button class="button button-icon icon ion-home" ng-click="goToHome()"></button>
      </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <img src="img/logo/best.jpg" style="width: 100%" />
    </div>
   <!-- <div style="font-size: 30px;">
      <span id="yellowArrow" class="icon ion-arrow-left-b" style="text-shadow: 1px 1px 2px black, 0 0 1em orangered, 0 0 0.2em red;"></span>
      <span id="orangeArrow" class="icon ion-arrow-left-b" style="text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orangered;"></span>
      <span id="redArrow" class="icon ion-arrow-left-b" style="text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em orange;"></span>
    </div>-->
  </ion-content>
</ion-view>