<ion-view view-title="RDOP Home">
  <ion-content id="rdopHomeContentPage">
    <div>
      <div class="rdop-image" style="min-height: 250px; height: 50%; width: 100%;background-color: #225F8D; background: url('img/logo/RDOP_IMG.png') no-repeat top;"></div>
      <div class="row row-center" style="width: calc(100% - 10px);">
        <div class="col col-33 rdop-tile rdop-rndlink mb-5 mr-2_5 circle border-rndlink" ng-click="GotoPage('rndlink')">
          <div style="background: url('img/logo/rndlink.png') no-repeat center; height: 100%;">
            <div style="padding-top: 80%;">R&D Link</div>
          </div>
        </div>
        <div class="col col-33 rdop-tile rdop-product-dev mb-5 ml-2_5 mr-2_5 circle border-pd" ng-click="GotoPage('productdev')">
          <div style="background: url('img/logo/pd.png') no-repeat center; height: 100%;">
            <div style="padding-top: 80%;">Product Dev</div>
          </div>
        </div>
        <div class="col col-33 rdop-tile rdop-rm mb-5 ml-2_5 circle border-rm" ng-click="GotoPage('rm')">
          <div style="background: url('img/logo/rm.png') no-repeat center; height: 100%;">
            <div style="padding-top: 80%;">RM</div>
          </div>
        </div>
      </div>
      <div class="row row-center" style="width: calc(100% - 10px);">
        <div class="col col-33 rdop-tile rdop-capri mb-5 mr-2_5 circle border-capri" ng-click="GotoPage('capri')">
          <div style="background: url('img/logo/capri.png') no-repeat center; height: 100%;">
            <div style="padding-top: 80%;">Capri</div>
          </div>
        </div>
        <div class="col col-33 rdop-tile rdop-element mb-5 ml-2_5 mr-2_5 circle border-element" ng-click="GotoPage('element')">
          <div style="background: url('img/logo/element.png') no-repeat center; height: 100%;">
            <div style="padding-top: 80%;">Element</div>
          </div>
        </div>
        <div class="col col-33 rdop-tile rdop-registrations mb-5 ml-2_5 circle border-registrations" ng-click="GotoPage('registrations')">
          <div style="background: url('img/logo/fred.png') no-repeat center; height: 100%;">
            <div style="padding-top: 80%;">Registrations</div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row row-center">
      <div class="col col-50 rdop-tile rdop-rndlink mb-5 mr-2_5 pt-12 pb-24 flex-1 enabled" ng-click="GotoPage('rndlink')">
        <img src="img/logo/rndlink.png" /><br/>
        R&D Link
      </div>
      <div class="col col-50 rdop-tile rdop-product-dev mb-5 ml-2_5 pt-12 pb-24 flex-1 disabled" ng-click="GotoPage('productdev')">
        <img src="img/logo/pd.png" /><br/>
        Product Dev
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-50 rdop-tile rdop-rm mb-5 mr-2_5 pt-12 pb-24 flex-1 disabled" ng-click="GotoPage('rm')">
        <img src="img/logo/rm.png" /><br/>
        RM
      </div>
      <div class="col col-50 rdop-tile rdop-capri mb-5 ml-2_5 pt-12 pb-24 flex-1 disabled" ng-click="GotoPage('capri')">
        <img src="img/logo/capri.png" /><br/>
        Capri
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-50 rdop-tile rdop-element mb-5 mr-2_5 pt-12 pb-24 flex-1 disabled" ng-click="GotoPage('element')">
        <img src="img/logo/rm.png" /><br/>
        Element
      </div>
      <div class="col col-50 rdop-tile rdop-registrations mb-5 ml-2_5 pt-12 pb-24 flex-1 disabled" ng-click="GotoPage('registrations')">
        <img src="img/logo/fred.png" /><br/>
        Registrations
      </div>
    </div>-->
  </ion-content>
</ion-view>